@use 'variaveis';

.hero {
    background-image: url(variaveis.$background-image);
    background-repeat: no-repeat; /* Evita que a imagem de fundo se repita */
    background-size: cover; /* Ajusta a imagem de fundo para cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem de fundo */
    color: variaveis.$white;
    display: flex;
    justify-content: center; /* Ajuste para centralizar o conteúdo */
    align-items: center;
    padding: variaveis.$hero-padding;
    height: variaveis.$hero-height;

    &__container {
        max-width: 1444px;
        text-align: center;

        &__content {
            display: flex;
            align-items: center;
            flex-wrap: wrap; /* Permite que o conteúdo seja quebrado em linhas em telas menores */
    
            div {
                flex: 1;
                min-width: 300px; /* Garante que os divs filhos não fiquem muito pequenos */
            }
    
            h1 {
                font-size: 5em;
                margin-bottom: 0.5em;
    
                @media (max-width: 768px) {
                    font-size: 3em; /* Ajusta o tamanho do texto para telas menores */
                }
    
                @media (max-width: 480px) {
                    font-size: 2em; /* Ajusta o tamanho do texto para telas muito pequenas */
                }
    
                @media (min-width: 3840px) {
                    font-size: 7em; /* Ajusta o tamanho do texto para telas 4K */
                }
            }
    
            &__description {
                font-size: 1.2em;
                line-height: 1.5;
                margin-bottom: 1em;
    
                @media (max-width: 768px) {
                    font-size: 1em; /* Ajusta o tamanho do texto para telas menores */
                }
    
                @media (max-width: 480px) {
                    font-size: 0.9em; /* Ajusta o tamanho do texto para telas muito pequenas */
                }
    
                @media (min-width: 3840px) {
                    font-size: 2em; /* Ajusta o tamanho do texto para telas 4K */
                }
            }
    
            &__buttons {
                margin-top: 1em;
    
                button {
                    margin-right: 10px; 
                    padding: 10px 20px;
                    font-size: 1em;
                    cursor: pointer;
                    border: none;
                    border-radius: variaveis.$button-border-radius;
                    box-shadow: variaveis.$button-shadow;
                    transition: background-color 0.3s ease, transform 0.3s ease;
    
                    &:first-child {
                        background-color: variaveis.$primary-color;
                        color: variaveis.$white;
    
                        &:hover {
                            background-color: variaveis.$button-hover-bg;
                            transform: translateY(-2px);
                        }
                    }
    
                    &:last-child {
                        background-color: variaveis.$secondary-color;
                        color: variaveis.$white;
    
                        &:hover {
                            background-color: variaveis.$button-hover-bg-secondary;
                            transform: translateY(-2px);
                        }
                    }
    
                    @media (max-width: 480px) {
                        margin-bottom: 10px; 
                    }
    
                    @media (min-width: 3840px) {
                        padding: 15px 30px; 
                        font-size: 1.5em; 
                    }
                }
            }
    
            &__image {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                
    
                img {
                    width: 575px;
                    height: 354px;
                    margin-left: 20px; /* Reduza a margem esquerda para aproximar a imagem do texto */
                    border-radius: 337.5px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                    display: flex;
    
                    @media (max-width: 1024px) {
                        width: 400px;
                        height: 246px; 
                        display: flex;
                    }
    
                    @media (max-width: 768px) {
                        width: 300px;
                        height: 185px;
                        display: flex;
                    }
    
                    @media (max-width: 480px) {
                        width: 100%;
                        height: auto; 
                        margin-left: 0; 
                        display: flex;
                    }
                }
            }
        }
    }
}
