@use 'variaveis';
@use 'header';
@use 'hero';
@use 'sobre';
@use 'livros';
@use 'trailer';
@use 'footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(138, 62, 1);
    color: rgb(255, 255, 255);
}